.m-list-badge .m-list-badge__items{
    /* min-height: 50px; */
    min-width: 100px;
    border: 1px solid #eee;
    padding: 5px 10px;
}
.m-list-badge .m-list-badge__items .m-list-badge__item{
    display: block;
    margin-bottom: 5px;
}
.m-list-badge .m-list-badge__items .m-list-badge__item:last-child{
    margin: 0;
}